<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Header2</title>
    <!-- Bootstrap stylesheet -->
    <link href=@Url.Content("~/Template/bootstrap/css/bootstrap.css") rel="stylesheet">
    <!-- crousel css -->
    <link href=@Url.Content("~/Template/js/owl-carousel/owl.carousel.css") rel="stylesheet" type="text/css" />
    <!--bootstrap select-->
    <link href=@Url.Content("~/Template/js/dist/css/bootstrap-select.css") rel="stylesheet" type="text/css" />
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,700,800,900" rel="stylesheet">
    <!-- font-awesome -->
    <link href=@Url.Content("~/Template/font-awesome/css/font-awesome.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/Template/css/ele-style.css") rel="stylesheet" type="text/css" />
    <!-- stylesheet -->
    <link href=@Url.Content("~/Template/css/style.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/css/Custom.css") rel="stylesheet" type="text/css" />

    @RenderSection("CSS", false)

</head>
<body class="header2">
    <!-- header start here-->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                    <div id="logo">
                        <a href="#">
                            <img id="HeaderLogo" class="img-responsive" src="@Url.Content("~/images/white_logo.png")" alt="logo" title="Good Food" />
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                    <!-- menu start here -->
                    <div id="menu">
                        <nav class="navbar">
                            <div class="navbar-header">
                                <span class="menutext visible-xs">Menu</span>
                                <button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="btn btn-navbar navbar-toggle" type="button"><i class="fa fa-bars"></i></button>
                            </div>
                            <div class="collapse navbar-collapse navbar-ex1-collapse padd0">
                                <ul class="nav navbar-nav text-right">
                                    <li class="dropdown topheader">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home</a>
                                    </li>
                                    <li class="dropdown topheading">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Clientes</a>
                                    </li>
                                    <li class="dropdown topheading">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reserva tu espacio</i></a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <!-- menu end here -->
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12 top">
                    <ul class="list-inline pull-right  icons">
                        <!-- Login-->
                        <li class="dropdown login">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon_profile"></i> <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <button class="fac FacebookButton" type="button">Facebook</button>
                                </li>
                                <li style="height: 140px;">
                                    <div>
                                        <div class="LoginOption col-md-12">
                                            <div class="col-md-2">
                                                <a><i class="icon_profile"></i></a>
                                            </div>
                                            <div class="col-md-10">
                                                <input id="txtMailLogin" class="form-control" type="text" placeholder="correo"/>
                                            </div>
                                        </div>
                                        <div class="LoginOption col-md-12">
                                            <div class="col-md-2">
                                                <a><i  class="icon_archive"></i></a>
                                            </div>
                                            <div class="col-md-10">
                                                <input id="txtPasswordLogin" class="form-control" type="password" placeholder="password"/>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="text-center">
                                    <a href="Home/RegisterUser">Registrate</a>

                                </li>
                                <li>
                                    <button id="btnLogin" class="btn" type="button">Login</button>
                                </li>
                            </ul>
                        </li>
                        <!-- Cart-->
                        <li class="dropdown cart">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon_cart"></i></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td class="text-center">
                                                    <img src="@Url.Content("~/Template/images/header1/deal-img1.png")" class="img-responsive" alt="img" title="img" />
                                                </td>
                                                <td class="text-left">
                                                    <a href="#">Your Product Title</a>
                                                    <p>1 x $ 15.00</p>
                                                </td>
                                                <td class="text-center">
                                                    <button type="button" title="Remove" class="btn btn-danger btn-xs"><i class="icon_close"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="buttons">
                                        <button class="btn-primary" type="button" onclick="location.href='shoppingcart.html'"><i class="icon_cart"></i> View Cart</button>
                                        <button class="btn-primary" type="button" onclick="location.href='checkout.html'"><i class="icon_box-checked"></i> Checkout</button>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- header end here -->

    @RenderBody()
    <!-- footer start here -->
    <footer>
        <div class="container">
            <img id="FooterImage" src="~/images/nutriendo_vidas.png" />
        </div>
    </footer>
    <!-- footer end here -->
    <!-- modulejs -->
    <script src="@Url.Content("~/lib/modulejs/modulejs-1.9.0.min.js")"></script>
    <!-- jquery -->
    <script src="@Url.Content("~/Template/js/jquery.2.1.1.min.js")"></script>
    <!-- bootstrap js -->
    <script src="@Url.Content("~/Template/bootstrap/js/bootstrap.min.js")"></script>
    <!--bootstrap select-->
    <script src="@Url.Content("~/Template/js/dist/js/bootstrap-select.js")"></script>
    <!--internal js-->
    <script src="@Url.Content("~/Template/js/internal.js")"></script>
    <!-- owlcarousel js -->
    <script src="@Url.Content("~/Template/js/owl-carousel/owl.carousel.min.js")"></script>
    <!-- Utilities -->
    <script type="text/javascript" src="@Url.Content("~/js/Controller/Utilities.js")"></script>


    <script>
        var routes = {
            Login: '@Url.Action("Login", "Home")'
        };

    </script>

    <script type="text/javascript" src="@Url.Content("~/js/Model/GlobalModel.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/View/GlobalView.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/Controller/GlobalController.js")"></script>

    @RenderSection("JS", false)

</body>
</html>