<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GoodFood | Limpiá tu cuerpo</title>
    <!-- Bootstrap stylesheet -->
    <link href=@Url.Content("~/Template/bootstrap/css/bootstrap.css") rel="stylesheet">
    <!-- crousel css -->
    <link href=@Url.Content("~/Template/js/owl-carousel/owl.carousel.css") rel="stylesheet" type="text/css" />
    <!--bootstrap select-->
    <link href=@Url.Content("~/Template/js/dist/css/bootstrap-select.css") rel="stylesheet" type="text/css" />
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,700,800,900" rel="stylesheet">
    <!-- font-awesome -->
    <link href=@Url.Content("~/Template/font-awesome/css/font-awesome.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/Template/css/ele-style.css") rel="stylesheet" type="text/css" />
    <!-- stylesheet -->
    <link href=@Url.Content("~/Template/css/style.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/css/Custom.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/css/Slick.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/css/VideoSlider.css") rel="stylesheet" type="text/css" />


    @RenderSection("CSS", false)

</head>
<body class="">
    <!-- header start here-->
    <div class="border top horizontal"></div>
    <div class="border right vertical"></div>
    <div class="border left vertical"></div>
    <!-- header end here -->

    @RenderBody()
    <!-- footer start here -->
    <footer>
        <div class="container">
            <div class="col-md-12" style="text-align:center;">
                <img src="@Url.Content("~/images/black_logo.png")" style="height: 100px; margin-top:20px;" />
            </div>
            <div class="col-md-6" style="text-align:center;">
                <label style="font-size: 20px; font-weight: bolder;">COSTA RICA</label><br />
                <label style="font-size: 20px; font-weight: bolder;">+506 88495315</label><br />
                <label style="font-size: 20px; font-weight: bolder;">info@goodfoodcr.com</label><br />
            </div>
            <div class="col-md-6" style="text-align:center;">
                <label style="font-size: 20px; font-weight: bolder;">COLOMBIA</label><br />
                <label style="font-size: 20px; font-weight: bolder;">+507 88495315</label><br />
                <label style="font-size: 20px; font-weight: bolder;">info@goodfoodcolombia.com</label><br />
            </div>
            <div class="col-md-12" style="text-align: center;">
                <label style="font-size: 10px; ">Todos los derechos reservados. GoodFood® SA, 2018 </label>
            </div>
        </div>
    </footer>
    <!-- footer end here -->
    <!-- modulejs -->
    <script src="@Url.Content("~/Template/js/jquery.2.1.1.min.js")"></script>
    <script src="@Url.Content("~/lib/modulejs/modulejs-1.9.0.min.js")"></script>
    <!-- jquery -->
    <!-- bootstrap js -->
    <script src="@Url.Content("~/Template/bootstrap/js/bootstrap.min.js")"></script>
    <!--bootstrap select-->
    <script src="@Url.Content("~/Template/js/dist/js/bootstrap-select.js")"></script>
    <!--internal js-->
    <script src="@Url.Content("~/Template/js/internal.js")"></script>
    <!-- owlcarousel js -->
    <script src="@Url.Content("~/Template/js/owl-carousel/owl.carousel.min.js")"></script>
    <!-- Utilities -->
    <script type="text/javascript" src="@Url.Content("~/js/Controller/Utilities.js")"></script>


    <script type="text/javascript" src="@Url.Content("~/js/Utilities/Slick.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/Utilities/VideoSlider.js")"></script>



    <script>
        var globalRoutes = {
            Login: '@Url.Action("Login", "Home")',
            GoToHome: '@Url.Action("Index", "Home")',
            GoToCart: '@Url.Action("ShoppingCart", "Shop")',
            GoToShop: '@Url.Action("Index", "Shop")'
        };

    </script>

    <script type="text/javascript" src="@Url.Content("~/js/Model/GlobalModel.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/View/GlobalView.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/Controller/GlobalController.js")"></script>

    @RenderSection("JS", false)

</body>
</html>