
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CSS{
    <link href=@Url.Content("~/Template/js/owl-carousel/owl.carousel.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/Template/js/dist/css/bootstrap-select.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/Template/js/preetycheble/prettyCheckable.css") rel="stylesheet" type="text/css" />
}

    <header>
        <a href="/">
            <img style="height: 70px; margin-top: 5px;" src="@Url.Content("~/images/white_logo.png")" />
        </a>
        <nav>
            <ul>
                <li><a href="/Shop">PLANES</a></li>
                <li><a href="#pnlClients">CLIENTES</a></li>
                <li><a href="/Shop">RESERVAR</a></li>
                <li><a href="https://goodfoodcr.blogspot.com/">BLOG</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="/Home/RegisterUser">REGISTRO</a></li>
            </ul>
        </nav>
    </header>

<!--Gluten Free -->
<div class="cotainer">
    <div class="row rowBlock" style="background-color: #eddb77; padding-top: 250px;">
        <div class="col-md-7">
            <div class="row">
                <p class="BlockLetterThird" style="color: #afc24e; font-size: 100px; line-height: 100px;">PROGRAMA<br />COMPLETO</p>

            </div>
            <div class="row">
                <p class="BlockLetterFourth" style="color:#434243; font-size: 20px;">
                    Todas tus comidas en la puerta de tu casa u oficina.<br/>
                    Charlas cada semana.<br />
                    Yoga ilimitado.<br />
                    Descuentos especiales.<br />
                    Y muchos beneficios más.<br />
                    Cupo limitado
                </p>
            </div>
            <div class="row" style="text-align: center;">
                <input type="button" class="BlockButton" style="background-color: #afc24e;" value="COMPRAR" />
                <img src="@Url.Content("~/images/cartIcon.png")" />
            </div>
        </div>
        <div class="col-md-5" style="">
            <img id="" style="    height: 620px; margin-top: 170px; margin-left: 137px;;" src="@Url.Content("~/images/Tienda_1.png")" />
        </div>
    </div>
</div>

<!-- shop container start here -->
<div class="shop">
    <div class="container">
        <div class="row">
            <div class="sort col-sm-12 col-md-12 col-lg-12 col-xs-12">
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
                        <div class="form-group input-group input-group-sm">
                            <label class="input-group-addon" for="input-sort">Filtrar por: </label>
                            <select id="input-sort" class="form-control selectpicker bs-select-hidden">
                                <option value="" selected="selected">Item</option>
                                <option value="">Nombre (A - Z)</option>
                                <option value="">Nombre (Z - A)</option>
                                <option value="">precio (Low &gt; High)</option>
                                <option value="">precio (High &gt; Low)</option>
                                <option value="">Rating (Highest)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
                        <div class="form-group input-group input-group-sm">
                            <label class="input-group-addon" for="input-sort">Categorias</label>
                            <select id="input-show" class="form-control selectpicker bs-select-hidden">
                                <option value="" selected="selected">todas las categorias</option>
                                <option value="">1</option>
                                <option value="">5</option>
                                <option value="">15</option>
                                <option value="">20</option>
                                <option value="">25</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4 col-xs-12">
                        <div class="form-group prices">
                            <label>Price</label>
                            <div class="price-filter">
                                <span class="min">$ 15</span>
                                <a href="#" class="one slider-handle"></a>
                                <div class="price-range"><div class="bg"></div></div>
                                <span class="max">$ 1500</span>
                                <a href="#" class="two slider-handle"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12 list hidden-xs text-right">
                        <div class="btn-group btn-group-sm">
                            <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="Grid"><i class="icon_grid-2x2"></i></button>
                            <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="List"><i class="fa fa-list-ul"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12 hidden-xs">
                <div class="leftside">
                    <div class="highlight">
                        <h3>Highlights</h3>
                        <ul class="list-unstyled">
                            <li>
                                <input type="radio" value="None" name="pool" class="checkclass checkbox-inline" />
                                <a href="#">Deals of the days</a>
                            </li>
                            <li>
                                <input type="radio" value="None" name="pool" class="checkclass checkbox-inline" />
                                <a href="#">Free Shipping</a>
                            </li>
                            <li>
                                <input type="radio" value="None" name="pool" class="checkclass checkbox-inline" />
                                <a href="#">Best Sellers</a>
                            </li>
                            <li>
                                <input type="radio" value="None" name="pool" class="checkclass checkbox-inline" />
                                <a href="#">Feature Products</a>
                            </li>
                        </ul>
                    </div>
                    <div class="highlight">
                        <h3>Categoria</h3>
                        <ul class="list-unstyled">
                            <li>
                                <input type="radio" value="None" name="pool" class="checkclass checkbox-inline" />
                                <a href="#">Aderezos</a>
                            </li>
                            <li>
                                <input type="radio" value="None" name="pool" class="checkclass checkbox-inline" />
                                <a href="#">Salsas</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div id="cntProducts" class="row">

                </div>
                <!--pagination code start here-->
                <ul class="list-inline pagination">
                    <li>
                        <span>Pages</span>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li class="pull-right">
                        <a href="#" aria-label="Previous"><i class="arrow_left"></i></a>
                        <a href="#" aria-label="Next"><i class="arrow_right"></i></a>
                    </li>
                </ul>
                <!--pagination code end here-->
            </div>
        </div>
    </div>
</div>
<!-- shop container end here -->


@section JS{


    <script src="@Url.Content("~/Template/js/check.js")"></script>
    <script src="@Url.Content("~/Template/js/preetycheble/prettyCheckable.min.js")"></script>
    <script src="@Url.Content("~/Template/js/dist/js/bootstrap-select.js")"></script>
    <script src="@Url.Content("~/Template/js/internal.js")"></script>
    <script src="@Url.Content("~/Template/js/owl-carousel/owl.carousel.min.js")"></script>

    <script>
        var routes = {
            getAllProductsForShop: '@Url.Action("getAllProductsForShop", "Product")'
        };

    </script>

    <script type="text/javascript" src="@Url.Content("~/js/Model/ShopModel.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/View/ShopView.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/Controller/ShopController.js")"></script>

}