
@{
    ViewData["Title"] = "ShoppingCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <a href="/">
        <img style="height: 70px; margin-top: 5px;" src="@Url.Content("~/images/white_logo.png")" />
    </a>
    <nav>
        <ul>
            <li><a href="/Shop">PLANES</a></li>
            <li><a href="#pnlClients">CLIENTES</a></li>
            <li><a href="/Shop">RESERVAR</a></li>
            <li><a href="https://goodfoodcr.blogspot.com/">BLOG</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="/Home/RegisterUser">REGISTRO</a></li>
        </ul>
    </nav>
</header>

<!-- checkout start here -->
<div class="mycart">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <form method="post" enctype="multipart/form-data">
                    <div class="table-responsive">
                        <table class="table listproducts">
                            <thead>
                                <tr>
                                    <td class="text-left">Lista Productos</td>
                                    <td class="text-center">Precio</td>
                                    <td class="text-center">Cantidad</td>
                                    <td class="text-center">Total</td>
                                    <td class="text-center">Eliminar</td>
                                </tr>
                            </thead>
                            <tbody id="tblShoppingCart"></tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="col-sm-12">
                <div class="buttons">
                    <button class="btn-primary">Eliminar Pedido</button>
                    <button class="btn-primary">Actualizar Pedido</button>
                    <button id="btnContinueShopping" class="btn-primary pull-right">Continuar Comprando</button>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="cartable">
                            <h5>Codigo de Cupon</h5>
                            <p>Ingrese su codigo en caso de tener uno.</p>
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <input name="coupon" placeholder="Ingresar Cupon" id="input-coupon" class="form-control" type="text">
                                    <button type="button" class="btn-primary">Aplicar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-4 col-sm-offset-4">
                        <div class="cartable">
                            <h5>Total Carrito</h5>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="text-left">Envio</td>
                                        <td class="text-right">$50.00</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Sub Total</td>
                                        <td class="text-right">$290.00</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-center">
                                <button type="button" class="btn-primary" onclick="location.href='checkout.html'">PAGAR</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- checkout end here -->




@section JS{



    <script>
        var routes = {
            getAllProductsForShop: '@Url.Action("getAllProductsForShop", "Product")',
            GoToShop:'@Url.Action("Index", "Shop")'
        };

    </script>

    <script type="text/javascript" src="@Url.Content("~/js/Model/ShopModel.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/View/ShopView.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/Controller/ShopController.js")"></script>

}