@{
    ViewData["Title"] = "Home Page";
}


<!-- slider start here -->
<div>

</div>
<!--Complete Program-->
<div class="cotainer">
    <div class="row rowBlock" style="background-color: #dde0db;">
        <div class="col-md-4">
            <img style="height:425px;" src="@Url.Content("~/images/Image1.png")"/>
        </div> 
        <div class="col-md-8" style="margin-top: 50px;">
            <div class="row">
                <p class="pull-right BlockLetter" style="direction: rtl; color: #f6a125;">PROGRAMA <br />COMPLETO</p>
                
            </div>
            <div class="row">
                <p class="pull-right BlockLetterSecundary">21 DIAS</p>
            </div>
            <div class="row" style="direction:rtl;">
                <input type="button" class="BlockButton" style="background-color: #f6a125;" value="MAS INFO"/>
                <img src="@Url.Content("~/images/cartIcon.png")" />
            </div>
        </div>
    </div>
</div>
<!--Week Program-->
<div class="cotainer">
    <div class="row rowBlock" style="background-color: #444344;">
        <div class="col-md-8" style="margin-top: 50px;">
            <div class="row">
                <p class="BlockLetter" style="color: #afc24e;">PROGRAMAS <br />SEMANALES</p>
            </div>
            <div class="row">
                <p class="BlockLetterSecundary">MANTENIMIENTO</p>
            </div>
            <div class="row" style="">
                <img src="@Url.Content("~/images/cartIcon.png")" />
                <input type="button" class="BlockButton" style="background-color: #afc24e;" value="MAS INFO" />
            </div>
        </div>
        <div class="col-md-4">
            <img style="height:425px;" src="@Url.Content("~/images/Image2.png")" />
        </div>
    </div>
</div>
<!--Snacks -->
<div class="cotainer">
    <div class="row rowBlock" style="background-color: #dde0db;">
        <div class="col-md-4">
            <img style="height:425px;" src="@Url.Content("~/images/Image3.png")" />
        </div>
        <div class="col-md-8" style="margin-top: 50px;">
            <div class="row">
                <p class="pull-right BlockLetter" style="direction: rtl; color: #444344;">SNACKS Y <br />ADEREZOS</p>

            </div>
            <div class="row">
                <p class="pull-right BlockLetterSecundary">MANTENIMIENTO</p>
            </div>
            <div class="row" style="direction:rtl;">
                <input type="button" class="BlockButton" style="background-color: #444344;" value="MAS INFO" />
                <img src="@Url.Content("~/images/cartIcon.png")" />
            </div>
        </div>
    </div>
</div>
<!--Gluten Free -->
<div class="cotainer">
    <div class="row rowBlock" style="background-color: #dde0db;">
        <div class="col-md-7">
            <div class="row">
                <p class="BlockLetterThird" style="color: #afc24e;">SIN GLUTEN.<br />SIN PRESERVANTES.<br />SIN LACTEOS.</p>

            </div>
            <div class="row">
                <p class="BlockLetterFourth" style="color:#434243;">Trabajamos con producto local  de primera calidad, en su mayoria organico, y libre  de cosas que normalmente irritan  o producen alergias.</p>
            </div>
            <div class="row" style="text-align: center;">
                <input type="button" class="BlockButton" style="background-color: #afc24e;" value="MAS INFO" />
            </div>
        </div>
        <div class="col-md-5" style="margin-top: 50px;">
            <img id="GlutenImage" style=" " src="@Url.Content("~/images/Image4.png")" />
        </div>
    </div>
</div>
<!--Menu Sample -->
<div class="cotainer">
    <div class="row rowBlock" style="background-color: #f8b85a;">
        <div class="col-md-4" style="text-align:center;">
            <img id="" style="height:500px;" src="@Url.Content("~/images/Menu1.png")" />
        </div>
        <div class="col-md-4" style="text-align:center;">
            <img id="" style="height:500px;" src="@Url.Content("~/images/Menu2.png")" />
        </div>
        <div class="col-md-4" style="text-align:center;">
            <img id="" style="height:500px;" src="@Url.Content("~/images/Menu3.png")" />
        </div>
    </div>
</div>
<!--Moto -->
<div class="cotainer">
    <div class="row rowBlock" style="background-color: #fff;">
        <div class="col-md-4" style="">
            <img id="" style="height:500px; margin-left: -150px; height: 385px;" src="@Url.Content("~/images/Moto.png")" />
        </div>
        <div class="col-md-8" style="margin-top:50px;">
            <div class="row">
                <p class="BlockLetterFifth" style="color: #434243;">TODAS TUS COMIDAS. TODOS LOS DIAS.<br />  EN LA PUERTA  DE TU CASA U OFICINA.</p>
            </div>
            <div class="row">
                <p class="BlockLetterSixth" style="color:#434243;">Todos nuestros planes incluyen la entrega de tus comidas de lunes a sabado. <br /> Contamos con servicio de entrega de lunes a domingo</p>
            </div>
            <div class="row pull-right">
                <input type="button" class="BlockButton" style="background-color: #ecda77;" value="MAS INFO" />
            </div>
        </div>
    </div>
</div>
<!--Next Groups -->
<div class="cotainer">
    <div class="row rowBlock" style="background-color: #dde0db; padding-top: 10px;">
        <div class="col-md-12" style="text-align:center;">
            <p class="BlockLetterFifth" style="color: #434243;">PROXIMOS GRUPOS</p>
        </div>
        <div class="col-md-3" style="text-align:center; background-color:#edefec;">
            <div class="GroupsBox">
                <div class="NextGroupCircle" style="color:#eddc78;">
                    <label style="color:#eddc78;">MES</label>
                    <label style="color:#eddc78;">2018</label>
                </div>
                <span class="GroupsText" style="line-height: 63px;">INICIO: DD/MM/YY</span>
                <p class="GroupsText">21 dias de limppieza del cuerpo y chineos en la puerta  de tu casa u oficina.</p>
                <span class="GroupsText" style="line-height: 63px;">QUEDAN X ESPACIOS</span>
                <input type="button" class="BlockButton" style="background-color: #ecda77;" value="RESERVA TU ESPACIO" />
            </div>
        </div>
        <div class="col-md-3" style="text-align:center;">
            <div class="GroupsBox">
                <div class="NextGroupCircle" style="color:#eb7d3c;">
                    <label style="color:#eb7d3c;">MES</label>
                    <label style="color:#eb7d3c;">2018</label>
                </div>
                <span class="GroupsText" style="line-height: 63px;">INICIO: DD/MM/YY</span>
                <p class="GroupsText">21 dias de limppieza del cuerpo y chineos en la puerta  de tu casa u oficina.</p>
                <span class="GroupsText" style="line-height: 63px;">QUEDAN X ESPACIOS</span>
                <input type="button" class="BlockButton" style="background-color: #eb7d3c;" value="RESERVA TU ESPACIO" />
            </div>
        </div>
        <div class="col-md-3" style="text-align:center;  background-color:#edefec;" >
            <div class="GroupsBox">
                <div class="NextGroupCircle" style="color:#5c843a;">
                    <label style="color:#5c843a;">MES</label>
                    <label style="color:#5c843a;">2018</label>
                </div>
                <span class="GroupsText" style="line-height: 63px;">INICIO: DD/MM/YY</span>
                <p class="GroupsText">21 dias de limppieza del cuerpo y chineos en la puerta  de tu casa u oficina.</p>
                <span class="GroupsText" style="line-height: 63px;">QUEDAN X ESPACIOS</span>
                <input type="button" class="BlockButton" style="background-color: #5c843a;" value="RESERVA TU ESPACIO" />
            </div>
        </div>
        <div class="col-md-3" style="text-align:center;">
            <div class="GroupsBox">
                <div class="NextGroupCircle" style="color:#afc24e;">
                    <label style="color:#afc24e;">MES</label>
                    <label style="color:#afc24e;">2018</label>
                </div>
                <span class="GroupsText" style="line-height: 63px;">INICIO: DD/MM/YY</span>
                <p class="GroupsText">21 dias de limppieza del cuerpo y chineos en la puerta  de tu casa u oficina.</p>
                <span class="GroupsText" style="line-height: 63px;">QUEDAN X ESPACIOS</span>
                <input type="button" class="BlockButton" style="background-color: #afc24e;" value="RESERVA TU ESPACIO" />
            </div>
        </div>
        <div class="col-md-12">
            <p class="BlockLetterFourth" style="color:#434243; text-align:center;">Para nuestro programa completo de 21 dias, trabajamos con grupos con cupos limitados para chinearte y acompañarte de la mejor manera</p>
        </div>
    </div>
</div>
<!--Clients -->
<div class="cotainer">
    <div class="row">

    </div>
</div>
<!--Social Media -->
<div class="cotainer">
    <div class="row">
        <div class="col-md-12" style="text-align:center; padding:20px;">
            <img style="height:50px;" src="@Url.Content("~/images/InstagramIcon.png")" />
            <img style="height:50px; margin-left: 80px; margin-right: 80px;" src="@Url.Content("~/images/FacebookIcon.png")" />
            <img style="height:50px;" src="@Url.Content("~/images/WhatsappIcon.png")" />
        </div>
        <div class="col-md-12" style="background-color:#afc24e; padding:50px; text-align: center;">
            <p class="BlockLetterFourth" style="color:#434243; text-align:center;">QUIERO RECIBIR NOTIFICACIONES POR CORREO</p>
            <input class="EmailTextBox" type="text" placeholder="EMAIL"/>
            <input class="SendButton" type="button" value="ENVIAR"/>
        </div>
    </div>
</div>
<!--Footer -->
<div class="cotainer">
    <div class="row FooterImage" style="height:460px;">

    </div>
</div>