@{
    ViewData["Title"] = "Home Page";
}


<!-- slider start here -->
<div>
    <div style="position: relative;">
        <img id="HeaderLogo" class="img-responsive CenterMainLogo" src="@Url.Content("~/images/white_logo.png")" />
    </div>
    <div class="slide">

        <div class="slideshow owl-carousel">
            <div class="item">
                <img src="@Url.Content("~/images/slider1.jpg")" alt="banner" title="banner" class="img-responsive" />
            </div>
            <div class="item">
                <img src="@Url.Content("~/images/slider2.jpg")" alt="banner" title="banner" class="img-responsive" />
            </div>
            <div class="item">
                <img src="@Url.Content("~/images/slider3.jpg")" alt="banner" title="banner" class="img-responsive" />
            </div>
        </div>
    </div>
</div>
<!--  -->
<!--Information Block -->
<div>
    <label class="MainLabelIndicators">Información</label>
    <div class="container" style="padding:50px;">
        <img class="img-responsive Separator" src="@Url.Content("~/images/separadorgf.png")" />
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="" style="width:100%;">
                    <div>
                        <p class="CenterText">
                            "Cuidadosamente escogemos los más frescos ingredientes para prepararte alimentos sanos y
                            balanceados que te ayuden a promover la eliminación de toxinas durante 21 días. Cada día, te
                            cocinamos tu comida y te la llevamos a tu casa u oficina para que podás obtener los beneficios
                            de una desintoxicación, sin interferir con tu día a día."
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  -->
<!--Menu Block -->
<div>
    <label class="MainLabelIndicators">Menu</label>
    <div class="container" style="padding:50px;">
        <img class="img-responsive Separator" src="@Url.Content("~/images/separadorgf.png")" />
        <div class="row">
            <div class="col-sm-12 col-xs-12">

             

            </div>
        </div>
    </div>
</div>
<!--  -->
<!--Next Groups Block -->
<div class="">
    <label class="MainLabelIndicators">Proximos Grupos</label>
    <div class="">
        <img class="img-responsive Separator" src="@Url.Content("~/images/separadorgf.png")" />
        <div class=" NextGroupsContainer" style="height:500px;">
            <div class="col-sm-12 col-xs-12" style="margin-top: 100px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 ">
                            <div class="GroupBox">
                                <p style="text-align: center;"><strong>SETIEMBRE 2018</strong></p>
                                <p style="text-align: center;">
                                    INICIO: VIERNES 14 DE SETIEMBRE<br>
                                    ¡Tres semanitas para empezar de nuevo!
                                </p><div class="separator  transparent center  " style="margin-top: 10px;"></div>
                                <p style="text-align: center;"><a itemprop="url" href="/reserva-tu-espacio/" target="_self" data-hover-background-color="#0d67bf" data-hover-border-color="#0d67bf" data-hover-color="#ffffff" class="qbutton  large default" style="color: #7d7d7d; border-color: #d4d4d4; font-weight: 700; background-color: #;">Resevar<i class="qode_icon_font_awesome fa fa-angle-double-right qode_button_icon_element" style=""></i></a></p>

                            </div>
                        </div>
                        <div class="col-md-4 ">
                            <div class="GroupBox">
                                <p style="text-align: center;"><strong>SETIEMBRE 2018</strong></p>
                                <p style="text-align: center;">
                                    INICIO: VIERNES 14 DE SETIEMBRE<br>
                                    ¡Tres semanitas para empezar de nuevo!
                                </p><div class="separator  transparent center  " style="margin-top: 10px;"></div>
                                <p style="text-align: center;"><a itemprop="url" href="/reserva-tu-espacio/" target="_self" data-hover-background-color="#0d67bf" data-hover-border-color="#0d67bf" data-hover-color="#ffffff" class="qbutton  large default" style="color: #7d7d7d; border-color: #d4d4d4; font-weight: 700; background-color: #;">Resevar<i class="qode_icon_font_awesome fa fa-angle-double-right qode_button_icon_element" style=""></i></a></p>

                            </div>
                        </div>
                        <div class="col-md-4 ">
                            <div class="GroupBox">
                                <p style="text-align: center;"><strong>SETIEMBRE 2018</strong></p>
                                <p style="text-align: center;">
                                    INICIO: VIERNES 14 DE SETIEMBRE<br>
                                    ¡Tres semanitas para empezar de nuevo!
                                </p><div class="separator  transparent center  " style="margin-top: 10px;"></div>
                                <p style="text-align: center;"><a itemprop="url" href="/reserva-tu-espacio/" target="_self" data-hover-background-color="#0d67bf" data-hover-border-color="#0d67bf" data-hover-color="#ffffff" class="qbutton  large default" style="color: #7d7d7d; border-color: #d4d4d4; font-weight: 700; background-color: #;">Resevar<i class="qode_icon_font_awesome fa fa-angle-double-right qode_button_icon_element" style=""></i></a></p>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  -->
<!--Testimonial Block -->
<div>
    <label class="MainLabelIndicators">Testimonios</label>
    <div class="container" style="padding:50px;">
        <img class="img-responsive Separator" src="@Url.Content("~/images/separadorgf.png")" />
        <div class="row">
            <div class="col-sm-12 col-xs-12">

                <div class="box text-center">
                    <ul class="list-inline">
                        <li>
                            <img src="https://www.goodfoodcr.com/wp-content/uploads/2017/01/ALBERTO-150x150.jpg" class="img-responsive TestimonialImage" alt="img" title="img" style="width: 100px;">
                        </li>
                        <li>
                            <img src="https://www.goodfoodcr.com/wp-content/uploads/2017/01/mariechen1-150x150.jpg" class="img-responsive TestimonialImage" alt="img" title="img">
                        </li>
                        <li>
                            <img src="https://www.goodfoodcr.com/wp-content/uploads/2017/01/brenna-150x150.jpg" class="img-responsive TestimonialImage" alt="img" title="img" style="width: 100px;">
                        </li>
                    </ul>
                    <p>Siendo semi-vegetariana tiendo a no alimentarme adecuadamente. El programa GoodFood|21 no solo me ha ayudado a sentirme bien, con más energía y mejor ánimo sino que también he aprendido a comer balanceado y delicioso!</p>
                    <h4><i class="icon_profile"></i> Mariechen Lachner</h4>
                </div>



            </div>
        </div>
    </div>
</div>
<!-- -->