
@{
    ViewData["Title"] = "RegisterUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section CSS{



}

<!-- bread-crumb start here -->
<div class="bread-crumb">
    <img src="@Url.Content("~/images/top-banner.jpg")" class="img-responsive" alt="banner-top" title="banner-top">
    <div class="container">
        <div class="matter">
            <h2>Registro de Usuario</h2>
        </div>
    </div>
</div>
<!-- bread-crumb end here -->
<!-- register start here -->
<div class="register bgimg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 BoxShadow" style="margin-top:25px;">
                <div class="commontop text-left">
                    <h4>
                        Crear Cuenta
                    </h4>
                </div>
                <p>Bienvenido a Good Food</p>
                <form id="frmSignUp" method="post" enctype="multipart/form-data">
                    <!--NAME-->
                    <div class="form-group">
                        <label>Nombre *</label>
                        <input id="txtName" type="text" name="username" value="" placeholder="John" class="form-control" />
                    </div>
                    <!--First Lastname-->
                    <div class="form-group">
                        <label>Pimer Apellido *</label>
                        <input id="txtFirstLastName" type="text" name="username" value="" placeholder="Doe" class="form-control" />
                    </div>
                    <!--Second Lastname-->
                    <div class="form-group">
                        <label>Segundo Apellido *</label>
                        <input id="txtSecondLastName" type="text" name="username" value="" placeholder="Smith" class="form-control" />
                    </div>
                    <!--EMAIL-->
                    <div class="form-group">
                        <label>Correo Electrónico *</label>
                        <input id="txtEmail" type="text" name="mail" value="" placeholder="Your Email" class="form-control" />
                    </div>
                    <!--PASSWORD-->
                    <div class="form-group">
                        <label>Password *</label>
                        <input id="txtPassword" type="text" name="password1" value="" placeholder="Password" class="form-control" />
                    </div>
                    <!--CONFIRM PASSWORD-->
                    <div class="form-group">
                        <label>Confirmar Password*</label>
                        <input id="txtConfirmPassword" type="text" name="confirmpassword" value="" placeholder="Password" class="form-control" />
                    </div>
                    <button id="btnRegisterUser" type="submit" class="btn btn-primary">REGISTRARSE</button>
                    <div class="links">
                        <input class="checkclass checkbox-inline" type="checkbox">Aceptar Terminos y Condiciones
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section JS{

    <script>
        var routes = {
            SaveUser: '@Url.Action("SaveUser", "Home")'
        };

    </script>

    <script type="text/javascript" src="@Url.Content("~/js/Model/HomeModel.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/View/HomeView.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/Controller/HomeController.js")"></script>

}
<!-- register end here -->
